@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,700;1,400&display=swap');

:root{
<<<<<<< HEAD
    --bgColor: #ffffff;
    --bg2Color:rgb(255, 255, 255);
    --bg3Color: rgba(185, 185, 185, 0.3);
    --titleColor: #dfdfdf;
    --footerColor: #e9e9e9;
=======
    --bgColor: rgb(42, 35, 61);
    --bg2Color:rgb(48, 57, 109);
    --bg3Color: rgba(44, 42, 79, 0.7);
    --bg4Color: rgb(74, 72, 139);
    --titleColor: rgba(44, 42, 79);
    --footerColor: rgba(44, 42, 79);
>>>>>>> 31fc3bd54335ea1dd27c1ccf7579458525fdb5be

    --imageSize: 200px;
}

p{
    color: white;
}

html {
    background-color: var(--bgColor);
}

body {
    font-family: 'Roboto', sans-serif;
    text-align: center;
    margin: 0;
}

.searchInfo{
    display: none;
    justify-content: center;
}

.searchInfo > span{
    display: block;
    margin: 10px;
<<<<<<< HEAD
}

.searchInfo > button{
    background-color: red;
    color: white;
    width: 75px;
    height: 30px;
    margin: 10px;
    cursor: pointer;
=======
>>>>>>> 31fc3bd54335ea1dd27c1ccf7579458525fdb5be
}

header{
    display: flex;
    flex-direction: row;
    position: relative;
    align-items: center;
    margin: 0;
    background-color: var(--titleColor);
    width: 100%;
}

header > h1 {
    color: white;
    padding: 10px 100px;
    font-size: 48px;
}

header input{
    position: absolute;
    border-style: none;
    background-color: var(--bg4Color);
    color: white;
    border-radius: 10px;
    top: 50px;
    right: 75px;
    width: 400px;
    height: 40px;
}

.movies-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 30px;
    margin: 25px 75px;
}

.background{
    display: none;
    width: 100%;
    height: 100%;
    background-color: var(--bg3Color);
    position: fixed;
    top: 0;
}

.movie-card{
    width: 250px;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
    background-color: var(--bg2Color);
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    transition: all .2s ease-in-out;
}

.movie-card:hover{
    transform: scale(1.1);
}

.movie-card div{
    display: flex;
    flex-direction: column;
}

@keyframes hoverCard {
    100% {
        width: 300px;
        height: 450px;
    }
}

.movie-card img{
    width: var(--imageSize);
}

.movie-card p:nth-child(1){
    font-weight: bold;
    width: var(--imageSize);
}

.movie-card-open{
    width: 300px;
    height: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
    background-color: var(--bg2Color);
    border-radius: 15px;
    display: none;
    width: 60%;
    height: auto;
    position: fixed;
    top: 25%;
    left: 20%;
}

.movie-card-open img{
    width: var(--imageSize);
}

.movie-card-open p:nth-child(1){
    font-weight: bold;
    width: var(--imageSize);
}

.movie-card-open > div{
    margin: 25px;
    display: flex;
    flex-direction: row;
}

.movie-card-open > div > div{
    margin: 25px;
    text-align: left;
}

.movie-card-open > div > div p{
    width: inherit;
}

.closePopup{
    width: 100px;
    height: 50px;
    background-color: red;
    color: white;
    font-size: 16px;
    font-weight: bold;
    border-style: none;
    border-radius: 10px;
    position: absolute;
    right: 25px;
    bottom: 25px;
}

<<<<<<< HEAD
.eraseSearch{
=======
.searchRequest{
    color: white;
}

.close-search-btn{
    width: 100px;
    height: 25px;
    background-color: redlutkhfffcttvuvvcitjgbttdnugrkcgj;
    color: white;
>>>>>>> 31fc3bd54335ea1dd27c1ccf7579458525fdb5be
    border-radius: 10px;
    border-style: none;
    cursor: pointer;
}

body > button {
    width: 200px;
    height: 50px;
    border-style: none;
    border-radius: 10px;
    margin: 30px;
    background-color: var(--bg2Color);
    color: white;
    font-size: 16px;
    font-weight: bold;
}

footer *{
    margin: 0;
}

footer{
    display: flex;
    flex-direction: row;
    background-color: var(--footerColor);
    padding: 25px;
    justify-content: center;
}

footer p{
    display: inline;
    font-weight: bold;
}

footer img{
    width: 80px;
    margin: 0 15px;
}

@media only screen and (max-width: 1300px){
    .movies-grid{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

@media only screen and (max-width: 1100px){
    .movies-grid{
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media only screen and (max-width: 900px){
    .movie-card-open > div{
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    .movies-grid{
        grid-template-columns: 1fr 1fr;
    }
}

@media only screen and (max-width: 700px){
    .movies-grid{
        grid-template-columns: 1fr;
    }

    header input{
        width: 250px;
    }
}
